Jinja2>=3.1.1
transformers
pandas
datasets
redis
pytorch-lightning
tqdm==4.64.0
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
torch
wandb
